body {
    --carrot-orange: #f18f01ff;
    --blue-munsell: #048ba8ff;
    --charcoal: #2e4057ff;
    --jet: #2f2d2eff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--jet);
}

header {
    background-color: var(--charcoal);
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.content {
    max-width: 80vw;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--charcoal);
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
}

.project {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.project img {
    max-width: 100%;
    height: auto;
    margin: auto;
    z-index: -1;
}

h2, h3, p {
    color: var(--charcoal);
    z-index: 1;
}

/* Styling for the shop starts here */
nav.shop {
    background-color: var(--blue-munsell);
    text-align: center;
    height: 10vh;
}
nav.shop a {
    color: black;
    text-decoration: none;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--blue-munsell);
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0px;
    margin: 10px auto;

}

#gallery div {
    background-color: var(--carrot-orange);
    color: var(--jet);
    min-width: 250px;
    max-width: 20vw;
    min-height: 300px;
    max-height: 75vh;
    margin: 1.5vw;
    text-align: left;
    line-height: 2vw;
    font-size: 2vh;
    border: 2px solid var(--charcoal);
}

#gallery div img {
    height: 80%;
    width: 100%;
    object-fit: contain;

}

form div.category label {
    padding: 10px;
    display: flex;
}

form div.price label {
    padding: 10px;
    display: inline-flex;
}

--carrot-orange: #f18f01ff;
    --blue-munsell: #048ba8ff;
    --charcoal: #2e4057ff;
    --jet: #2f2d2eff;