{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="homepage">
    <h2>Personal Digital Portfolio - Harry Jacobs</h2>
    <img id="home_banner" class="banner" src="static/images/wide_arco.jpg" alt="arco">
    <h3>Welcome to my digital personal portfolio</h3>
    <p>This is somewhere for me to showcase projects I've worked on or am currently working on</p>
    <p>This site contains a <a href="/projects">projects page</a> where my work will be listed, and you can follow the links to see and use the apps I've built for yourself</p>
    <p>In time, I'd like to add user accounts and admin controls to the page, so that users could have a more immersive and personalised experience with the site and integrated apps</p>
    <p>I hope you like what I've done</p>
    <p>Source code can be found on my <a href="https://git.cardiff.ac.uk./c1755302/dynamic-webapp-cmt120-assignment-2">GitLab</a> account</p>
    
</div>


{% endblock %}