<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="../static/scripts.js"></script>
    <script src="https://kit.fontawesome.com/1bd7707dce.js" crossorigin="anonymous"></script>
    <title>{% block title %}My Projects{% endblock %}</title>
</head>
<!-- clears all forms and checkboxes -->
<body onload = "clearAllForms()"> 
    <header>
        <h1>My Project Showcase</h1>
        <nav>
            <!-- get the routes at these functions -->
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('projects') }}">Projects</a>
        </nav>
    </header>
    <div class="content">
        <!-- set up content block for other pages using template -->
        {% block content %}{% endblock %}
    </div>
    <footer>
        &copy; 2023 My Project Showcase
        <a id="GitLabIcon" href="https://git.cardiff.ac.uk./c1755302/dynamic-webapp-cmt120-assignment-2"><i class="fa-brands fa-gitlab"></i></a>
    </footer>
</body>
<script>
    function clearAllForms(){
        // find the inputs
        let inputFields = document.getElementsByTagName("input");
        for (let i = 0; i < inputFields.length; i++){
            // uncheck checkboxes
            if (inputFields[i].type == 'checkbox') {
                inputFields[i].checked = false;
            }
            // clear text fields
            else if (inputFields[i].type == 'text'){
                inputFields[i].value = "";
            }
        }
    }
</script>
</html>

