{%extends "layout.html"%}
{% block title %}Online Store{% endblock%}
{%block content%}
    <h2>Climbing Shop</h2>
    <nav class="shop">
        <a href="1">Shop</a>
        <a href="2">Account</a>
        <a href="3">About us</a>
    </nav>
    <br>
    <div>
        <h3>Find what you're looking for using our filtered search</h3>
        <form id="filterForm" action="filter" method="POST" onsubmit="return loadItems()">
            <label>Category:</label>
            <br>
                <label>Rock Shoes<input type ="checkbox"></label>
                <label>Ropes<input type ="checkbox"></label>
                <label>Harnesses<input type ="checkbox"></label>
                <label>Quickdraws<input type ="checkbox"></label>
            <br>
            <label>Price:</label>
            <br>
                <label>Min:<input type="text" name="minPrice"></label>
                <label>Max:<input type="text" name="maxPrice"></label>
            <br>
            <button type="submit">Search</button>
        </form>
    </div>
    

{% endblock %}
