{% extends "layout.html" %}

<!-- .content div -->
{% block content %} 

<h1>To-do App </h1>
<!-- Add todos -->
<form id="todoForm" onsubmit="return addTodo();">
    <div class="formElements">
        <i class="fa-solid fa-plus" class="icon"></i>
        <input id="todoInput" type="text" name="todo" placeholder="add a task.." class="input-field">
        <button type="submit">Add</button>
    </div>
    
</form>

<div id="todoListBox">
    <ul id="todoList">
        <!-- JINJA for todo list -->
        {% if todos %}
            {% for todo in todos %}
            <div class="listItem">
                <li contenteditable="true" class="todoItem">{{todo}}</li>
                <!-- Complete todo -->
                <input type="checkbox" class="complete" value="complete" onclick="completeTodo()">
            </div>
            {% endfor %}
        {% endif %}
    </ul>
    <!-- Save todos -->
    <button type="button" id="updateButton" onclick="return updateTodo()">Update to-dos</button>
    <p id="msg"></p> <!-- Success message goes here -->
</div>
<div>

</div>


{% endblock %}

