{% extends "layout.html" %}

<!-- .content div -->
{% block content %} 

<h1>To-do App </h1>

<form id="todoForm" onsubmit="return addTodo();">
    <div class="formElements">
        <i class="fa-solid fa-plus" class="icon"></i>
        <input type="text" name="todo" placeholder="add a task.." class="input-field">
        <button type="submit">Add</button>
    </div>
    
</form>

<div id="todoListBox">
    <ul id="todoList">
        {% if todos %}
            {% for todo in todos %}
            <div class="listItem">
                <li contenteditable="true" class="todoItem">{{todo}}</li>
                <i class="fa-regular fa-square-check"></i>
                <input type="checkbox" class="complete" value="complete" onclick="completeTodo()">
            </div>
            {% endfor %}
        {% endif %}
    </ul>
    <button type="button" onclick="return updateTodo()">Update to-dos</button>
    <p id="msg"></p>
</div>
<div>

</div>


{% endblock %}

